@import './reset';
@import './fonts/mont';
@import './variables/global';
@import './themes/original';
@import './themes/dark';
@import './themes/rounded-blue';
@import './themes/rounded-orange';
@import './themes/rounded-purple';

.app {
	font: var(--font-body);
	color: var(--text-body);
	background: var(--background);
	min-height: 100vh;
}

.content-page {
	min-height: calc(100vh - var(--navbar-height) - var(--footer-height));
}
