.app.original {
	--accent: #313237;
	--secondary-accent: #89939a;
	--primary: #313237;
	--secondary: #89939a;
	--icons: #b4bdc3;
	--elements: #e2e6e9;
	--hover-bg: #fafbfc;
	--white: #fff;
	--green: #27ae60;
	--red: #eb5757;
	--background: var(--white);
	--text-heading: var(--primary);
	--text-body: var(--secondary);
	--active-nav-link: var(--primary);
	--btn-border-radius: none;
}
