.app.rounded-blue {
	--accent: #216cff;
	--secondary-accent: #f447af;
	--primary: #0f0f11;
	--secondary: #89939a;
	--icons: #b4bdc3;
	--elements: #e2e6e9;
	--hover-bg: #fafbfc;
	--white: #ffffff;
	--green: #27ae60;
	--red: #eb5757;

	--background: var(--hover-bg);
	--text-heading: var(--primary);
	--text-body: var(--secondary);
}
